[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "public"

[functions]
  external_node_modules = ["@prisma/client", "prisma"]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
